node_modules

*.xcuserstate  

project.xcworkspace  

xcuserdata  

UserInterfaceState.xcuserstate  

project.xcworkspace/  

xcuserdata/  

xcshareddata

UserInterface.xcuserstate


Podfile.lock
Pods

*.log

.DS_Store
